#container {
  border: 1px solid white;
  border-radius: 25px;
  padding: 5rem;
}

#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}
.icon {
  font-size: 2rem;
}
#quote-text {
  margin: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
#text {
  font-size: 2.2rem;
}
#quote-author {
  width: 100%;
  text-align: right;
}
#author {
  font-size: 1.5rem;
  font-style: italic;
}
#buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#tweet-quote {
  font-size: 3rem;
  color: #fff;
}
#new-quote {
  padding: 1.2rem;
  border: none;
  border-radius: 8px;
}
